body {
	font-family: arial;
	a {
		color: #4c4c4c;
		text-decoration: none;
		&:hover {
		  color: #00bcd4;
		}
	}
	.contact-list {
		width: 400px;
		margin: 0 auto;
	}
	.fab-add {
		margin: 0 0 0 40px;	
	}
	.fab-icon {
		font-style: normal;
		font-size: 24px;
	}
	.todo-list {
		padding: 6px 0 0 0;
	}
	.new-name {
		padding: 0;
		list-style-type: none;
		li {
			position: relative;
			.fab-delete {
				position: absolute;
				left: 296px;
    		top: -10px;
    		font-size: 30px;
			}
		}
	}
}